{% macro spell_id_template(element_id_dimension, element_id_parameter, element_id_spell_id, spell_id, button_state_spell_id) -%}
	<div class="row">
		<div class="input-group">
			<input 
				type="text" 
				id="spell_id_{{ element_id_dimension }}_{{ element_id_parameter }}_{{ element_id_spell_id }}"
				class="form-control" 
				{% if spell_id == none %}
					placeholder="Add spell ID"
				{% else %}
					value="{{ spell_id }}"
				{% endif %}>
			<span class="input-group-btn">
				<button
					{% if button_state_spell_id == 'minus' %}
						class="btn btn-danger"
					{% else %}
						class="btn btn-success"
					{% endif %}
					type="button" 
					id="spell_id_{{ button_state_spell_id }}" 
					value="spell_id_{{ element_id_dimension }}_{{ element_id_parameter }}_{{ element_id_spell_id }}">
					<span 
						{% if button_state_spell_id == 'minus' %}
							class="glyphicon glyphicon-minus"
						{% else %}
							class="glyphicon glyphicon-plus"
						{% endif %}
						aria-hidden="true"></span>
				</button>
			</span>
		</div>
	</div>
{%- endmacro %}

{% macro parameter_template(element_id_dimension, element_id_parameter, parameter, button_state_parameter) -%}
	<div class="row">
		<div class="col-sm-5">
			<div class="input-group">
				<input 
					type="text"
					id="parameter_{{ element_id_dimension }}_{{ element_id_parameter }}"
					class="form-control" 
						{% if parameter == none %}
							placeholder="Add parameter" 
						{% else %}
							value="{{ parameter['name'] }}" 
						{% endif %}>
				<span class="input-group-btn">
					<button 
						{% if button_state_parameter == 'minus' %}
							class="btn btn-danger"
						{% else %}
							class="btn btn-success"
						{% endif %}
						type="button"
						id="parameter_{{ button_state_parameter }}"
						value="parameter_{{ element_id_dimension }}_{{ element_id_parameter }}">
						<span 
							{% if button_state_parameter == 'minus' %}
								class="glyphicon glyphicon-minus"
							{% else %}
								class="glyphicon glyphicon-plus"
							{% endif %}
							aria-hidden="true"></span>
					</button>
				</span>
			</div>
		</div>
	</div>
	{% if parameter != none %}
		<div class="row">
			<div class="col-sm-3">
				<div class="row">
					<h5>Include</h5>
				</div>
				{% set start_id_spell_id = 101 %}
				{% for spell_id in parameter['include'] %}
					{% set element_id_spell_id = start_id_spell_id + loop.index0 %}
					<div id="spell_id_{{ element_id_dimension }}_{{ element_id_parameter }}_{{ element_id_spell_id }}">
						{{ spell_id_template(element_id_dimension, element_id_parameter, element_id_spell_id, spell_id, 'minus') }}
						<script>setID('spell_id', element_id_dimension, element_id_parameter, element_id_spell_id)</script>
					</div>
				{% endfor %}
				{{ spell_id_template('new_spell_id', none, 'plus') }}
			</div>
			<div class="col-sm-1" id="indent"></div>
			<div class="col-sm-3">
				<div class="row">
					<h5>Exclude</h5>
				</div>
				{% set start_id_spell_id = 201 %}
				{% for spell_id in parameter['exclude'] %}
					{% set element_id_spell_id = start_id_spell_id + loop.index0 %}
					<div id="spell_id_{{ element_id_dimension }}_{{ element_id_parameter }}_{{ element_id_spell_id }}">
						{{ spell_id_template(element_id_dimension, element_id_parameter, element_id_spell_id, spell_id, 'minus') }}
						<script>setID('spell_id', element_id_dimension, element_id_parameter, element_id_spell_id)</script>
					</div>
				{% endfor %}
				{{ spell_id_template(element_id_spell_id, none, 'plus') }}
			</div>
		</div>
		<div class="row bottom-buffer">
			<div class="col-sm-10">
				<hr>
			</div>
		</div>
	{% endif %}
{%- endmacro %}

{% macro dimension_template(element_id_dimension, dimension, button_state_dimension) -%}
	{% set element_id_parameter = 1 %}
		<div class="row">
			<div class="col-sm-5">
				<div class="input-group">
					<input 
						type="text"
						id="dimension_{{ element_id_dimension }}"
						class="form-control" 
							{% if dimension == none %}
								placeholder="Add dimension" 
							{% else %}
								value="{{ dimension['name'] }}" 
							{% endif %}>
					<span class="input-group-btn">
						<button 
							{% if button_state_dimension == 'minus' %}
								class="btn btn-danger"
							{% else %}
								class="btn btn-success"
							{% endif %}
							type="button"
							id="dimension_{{ button_state_dimension }}"
							value="dimension_{{ element_id_dimension }}">
							<span 
								{% if button_state_dimension == 'minus' %}
									class="glyphicon glyphicon-minus"
								{% else %}
									class="glyphicon glyphicon-plus"
								{% endif %}
								aria-hidden="true"></span>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1" id="indent"></div>
			<div class="col-sm-11">
				{% if dimension != none %}
					<div class="row bottom-buffer">
						<h4>Parameters</h4>
					</div>
					{% set start_id_parameter = 1 %}
					{% for parameter in dimension['parameters'] %}
						{% set element_id_parameter = start_id_parameter + loop.index0 %}
						<div id="parameter_{{ element_id_dimension }}_{{ element_id_parameter }}">
							{{ parameter_template(element_id_dimension, element_id_parameter, parameter, 'minus') }}
							<script>setID('spell_id', element_id_dimension, element_id_parameter, 0)</script>
						</div>
					{% endfor %}
					{{ parameter_template('new_parameter', none, 'plus') }}
				{% endif %}
			</div>
		</div>
		<div class="row bottom-buffer">
			<div class="col-sm-10">
				<hr>
			</div>
		</div>
{%- endmacro %}

<!-- Begin Request Builder Form -->
<div class="row">
	<div class="col-sm-3">
		<select id="characterClass" class="form-control">
			{% for class_ in classes %}
				<option value="{{ class_['id'] }}" 
					{% if class_['id'] == request['character_class'] %}
						selected="selected" 
					{% endif %}>
					{{ class_['name'] }}
				</option>
			{% endfor %}
		</select>
	</div>
	<div id="indent" class="col-sm-1"></div>
	<div class="col-sm-4">
		<div class="checkbox" id="specializations">
			{% for specialization in classes[request['class_index']]['specs'] %}
				<label class="checkbox">
					<input type="checkbox" value="{{ specialization['id'] }}"
					{% if specialization['id'] in request['specializations'] %}
						checked
					{% endif %}>
					{{ specialization['name'] }}
				</label>
			{% endfor %}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-2">
		<h3>Dimensions</h3>
	</div>
</div>
<div class="row">
	<div id="dimensions" class="col-sm-12">
		{% set element_id_dimension = 0 %}
		{% if request['trinkets'] is defined %}
			<script>formID[0]=[]</script>
			<div class="row">
				<div class="col-sm-5">
					<div class="input-group">
						<input type="text" class="form-control" value="Trinkets">
						<span class="input-group-btn">
							<button class="btn btn-danger" type="button">
								<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1" id="indent"></div>
				<div class="col-sm-11">
					<div class="row bottom-buffer">
						<h4>Trinkets</h4>
						<label class="checkbox-inline">
							<input type="checkbox" id="includeOtherTrinkets"
								{% if request['other_trinkets'] == True %}
									checked
								{% endif %}>
							Include Other Trinkets
						</label>
					</div>
					{% set start_id_parameter = 1 %}
					{% for trinket in request['trinkets'] %}
						{% set element_id_parameter = start_id_parameter + loop.index0 %}
						<div id="parameter_{{ element_id_dimension }}_{{ element_id_parameter }}">
							{{ parameter_template(element_id_dimension, element_id_parameter, trinket, 'minus') }}
							<script>setID('spell_id', element_id_dimension, element_id_parameter, 0)</script>
						</div>
					{% endfor %}
					{{ parameter_template('new_parameter', none, 'plus') }}
				</div>
			</div>
			<div class="row bottom-buffer">
				<div class="col-sm-10">
					<hr>
				</div>
			</div>
		{% else %}
			<!-- Include trinkets code -->
		{% endif %}
		{% set start_id_dimension = 1 %}
		{% for dimension in request['dimensions'] %}
			{% set element_id_dimension = start_id_dimension + loop.index0 %}
			{{ dimension_template(element_id_dimension, dimension, 'minus') }}
		{% endfor %}
		{{ dimension_template(element_id_dimension, none, 'plus') }}
	</div>
</div>