{% extends 'templates/wclstats.html' %}

{% block header %}
	<script type="text/javascript">
		$(document).ready(function () {
			$("#selectFilter").change(function(){
				$("#theAlert").alert();
				<!-- var selectedFilter = $(".selectFilter option:selected").val();
				<!-- alert("You have selected " + selectedFilter);
			});
		});
	</script>
{% endblock %}

{% block content %}
	<div class="container">
		<h1>Request Builder</h1>
		<form class="colform-inline" action="/buildrequest" method="POST">
			<div class="form-group">
				<label for="selectFilter" class="col-sm-3 control-label">Select a filter: </label>
				<div class="col-sm-6">
					<select class="form-control" id="selectFilter">
						{% for filter in filters %}
							<option>{{ filter.name }}</option>
						{% endfor %}
					</select>
				</div>
				</div class="col-sm-3">
					<button class="btn btn-primary">Create New</button>
				</div>
			<div>
		</form>
		<div class="bs-example">
			<div id="theAlert" class="alert alert-info">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				You have selected!
			</div>
		</div>
	</div>
{% endblock %}