<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>WCL Stats</title>

  </head>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<!-- WCL Stats theme -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/wclstats-theme.css" />
	
	{% block header %}{% endblock %}
	
  <body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" 
			data-toggle="collapse" data-target="#navbar" aria-expanded="false" 
			aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="/">WCL Stats</a>
		</div> 
		<div id="navbar" class="navbar-collapse collapse">
		  <ul class="nav navbar-nav">
			<li><a href="/about">About</a></li>
			{% if account != none %}
				<li><a href="/requestbuilder">Request Builder</a></li>
			{% endif %}
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			{% if account != none %}
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
					role="button" aria-haspopup="true" aria-expanded="false">
					{{ account.nickname }} <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
					<li><a href="/myrequests">My Requests</a></li>
					<li><a href="/mypulls">My Pulls</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/account">Account Settings</a></li>
					<li><a href="/signout">Sign Out</a></li>
				  </ul>
				</li>
			{% else %}
				<li><a href="/signin">Sign In</a></li>
			{% endif %}
		  </ul>
		</div>
	  </div>
	</nav>

	{% block content %}{% endblock %}

  </body>
</html>